{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/details.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<div class="webTitle">
  <h1>KU Polls</h1>
</div>


<h2>{{ question.text }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br/>
{% endfor %}
<br/><input type="submit" value="Vote">
</form>
<a href="{% url 'polls:index' %}">Back to poll list</a>
</body>
</html>