{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls</title>
</head>
<body>
{% if error_message %}
    {{ error_message }}
{% endif %}
{% if latest_poll_list %}
    <ul>
    {% for question in latest_poll_list %}
        {% if question.can_vote %}
        <li>{{ question.text }} <a href="{% url 'polls:detail' question.id %}">vote</a>|<a href="{% url 'polls:results' question.id %}">result</a> </li>
        {% else %}
        <li>{{ question.text }} <a href="{% url 'polls:results' question.id %}">result</a> </li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available. Be the first to create one!</p>
{% endif %}
</body>
</html>