body {
    background: white url("images/background.jpg") no-repeat;
    background-size: 1920px 2560px;
}

th.occupied {
    padding: 15px;
    text-align: left;
    border: 3px solid black;
}

a {
    color: green;
}

.webTitle {
    background: green;
    width: 200%;
}
